<div id="search-component">
    <h4><label for="search-box">Hero Search</label></h4>
  
    <input #searchBox id="search-box" (input)="search(searchBox.value)" /> <!--search function called each time something typed-->
  
    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async" > <!--$ indicates heroes is an observable, not an array. (|) subscribes to observable -->
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul>
  </div>
